In [3]:
import pandas as pd

In [4]:
main_data = pd.read_csv("main_data2.csv")
main_data.head()

,code,name,county,city,full_address,long,lat,district,percent_EDS,SPgrade,EOG_18_19,EOG_quintile
0,29A000,Davidson Charter Academy CFA,Davidson,Lexington,"500 Biesecker Rd, Lexington, NC 27295",aaUnknown,aaUnknown,Charter Schools,22.7,D,42.3,3
1,61X000,Mountain Island Day Community Charter,Mecklenburg,Charlotte,"1209 Little Rock Rd, Charlotte, NC 28214",aaUnknown,aaUnknown,Charter Schools,9.2,C,53.4,3
2,34Z000,Appalachian Academy at Middle Fork,Forsyth,Walkertown,"3125 Williston Rd, Walkertown, NC 27051",aaUnknown,aaUnknown,Lab Schools,<5,D,25.4,4
3,51B000,Johnston Charter Academy,Johnston,Clayton,"40 Scholar Dr, Clayton, NC 27520",aaUnknown,aaUnknown,Charter Schools,23.2,C,60.8,2
4,800406,West Rowan Elementary,Rowan,Cleveland,"480 Mimosa St, Cleveland, NC 27013",aaUnknown,aaUnknown,Rowan-Salisbury Schools,55.4,C,57.5,3

In [5]:
pov = pd.read_csv("pov_income.csv")
pov.head()

   pov_school_age_county  median_inc_county     county
0                   18.3              50480   Alamance
1                   18.8              49138  Alexander
2                   29.2              39735  Alleghany
3                   29.2              38023      Anson
4                   23.3              41864       Ashe

In [6]:
main2_df = pd.merge(pov, main_data, how="outer", on=["county", "county"])
main2_df.head(10)

,pov_school_age_county,median_inc_county,county,code,name,city,full_address,long,lat,district,percent_EDS,SPgrade,EOG_18_19,EOG_quintile
0,18.3,50480.0,Alamance,10384,South Mebane Elementary,Mebane,"600 S 3rd Street, Mebane, NC 27302",-79.2752451,36.0888099,Alamance-Burlington Schools,41.2,B,69,2
1,18.3,50480.0,Alamance,10320,E M Yoder Elementary,Mebane,"301 N Charles Street, Mebane, NC 27302",-79.275477,36.100586,Alamance-Burlington Schools,40.8,B,64.1,2
2,18.3,50480.0,Alamance,10347,Audrey W. Garrett Elementary,Mebane,"3224 Old Hillsborough Road, Mebane, NC 27302",-79.2968657,36.0616231,Alamance-Burlington Schools,55.9,C,53.6,3
3,18.3,50480.0,Alamance,10353,Hawfields Middle,Mebane,"1951 S NC 119, Mebane, NC 27302",-79.2972038,36.0614763,Alamance-Burlington Schools,53.5,B,68.5,2
4,18.3,50480.0,Alamance,10324,Eastern Alamance High,Mebane,"4040 Mebane Rogers, Mebane, NC 27302",-79.302277,36.1135494,Alamance-Burlington Schools,36.9,C,55.2,3
5,18.3,50480.0,Alamance,10406,Woodlawn Middle,Mebane,"3970 Mebane Rogers Road, Mebane, NC 27302",-79.3038618,36.1152028,Alamance-Burlington Schools,46.3,C,64.1,2
6,18.3,50480.0,Alamance,10372,Pleasant Grove Elementary,Burlington,"2847 Pleasant Grv Sch Road, Burlington, NC 27217",-79.3056019,36.217398,Alamance-Burlington Schools,52,D,46.9,3
7,18.3,50480.0,Alamance,01D000,The Hawbridge School,Saxapahaw,"1735 Saxapahaw Bethlehem Church Rd, Saxapahaw,...",-79.3183385,35.9464853,Charter Schools,8.1,B,73.1,2
8,18.3,50480.0,Alamance,10346,B. Everett Jordan Elementary,Graham,"5827 Church Road, Graham, NC 27253",-79.3267517,35.9397887,Alamance-Burlington Schools,59.6,D,41.6,3
9,18.3,50480.0,Alamance,10304,Alexander Wilson Elementary,Graham,"2518 NC 54, Graham, NC 27253",-79.3466437,36.0298515,Alamance-Burlington Schools,49.8,C,59.9,3

In [8]:
tiers = pd.read_csv("county_tiers.csv")
tiers.head()

      county  county_tier
0   Alamance            2
1  Alexander            2
2  Alleghany            2
3      Anson            1
4       Ashe            2

In [9]:
main3_df = pd.merge(tiers, main2_df, how="outer", on=["county", "county"])
main3_df.head(10)

,county,county_tier,pov_school_age_county,median_inc_county,code,name,city,full_address,long,lat,district,percent_EDS,SPgrade,EOG_18_19,EOG_quintile
0,Alamance,2.0,18.3,50480.0,10384,South Mebane Elementary,Mebane,"600 S 3rd Street, Mebane, NC 27302",-79.2752451,36.0888099,Alamance-Burlington Schools,41.2,B,69,2
1,Alamance,2.0,18.3,50480.0,10320,E M Yoder Elementary,Mebane,"301 N Charles Street, Mebane, NC 27302",-79.275477,36.100586,Alamance-Burlington Schools,40.8,B,64.1,2
2,Alamance,2.0,18.3,50480.0,10347,Audrey W. Garrett Elementary,Mebane,"3224 Old Hillsborough Road, Mebane, NC 27302",-79.2968657,36.0616231,Alamance-Burlington Schools,55.9,C,53.6,3
3,Alamance,2.0,18.3,50480.0,10353,Hawfields Middle,Mebane,"1951 S NC 119, Mebane, NC 27302",-79.2972038,36.0614763,Alamance-Burlington Schools,53.5,B,68.5,2
4,Alamance,2.0,18.3,50480.0,10324,Eastern Alamance High,Mebane,"4040 Mebane Rogers, Mebane, NC 27302",-79.302277,36.1135494,Alamance-Burlington Schools,36.9,C,55.2,3
5,Alamance,2.0,18.3,50480.0,10406,Woodlawn Middle,Mebane,"3970 Mebane Rogers Road, Mebane, NC 27302",-79.3038618,36.1152028,Alamance-Burlington Schools,46.3,C,64.1,2
6,Alamance,2.0,18.3,50480.0,10372,Pleasant Grove Elementary,Burlington,"2847 Pleasant Grv Sch Road, Burlington, NC 27217",-79.3056019,36.217398,Alamance-Burlington Schools,52,D,46.9,3
7,Alamance,2.0,18.3,50480.0,01D000,The Hawbridge School,Saxapahaw,"1735 Saxapahaw Bethlehem Church Rd, Saxapahaw,...",-79.3183385,35.9464853,Charter Schools,8.1,B,73.1,2
8,Alamance,2.0,18.3,50480.0,10346,B. Everett Jordan Elementary,Graham,"5827 Church Road, Graham, NC 27253",-79.3267517,35.9397887,Alamance-Burlington Schools,59.6,D,41.6,3
9,Alamance,2.0,18.3,50480.0,10304,Alexander Wilson Elementary,Graham,"2518 NC 54, Graham, NC 27253",-79.3466437,36.0298515,Alamance-Burlington Schools,49.8,C,59.9,3

In [10]:
main3_df.describe()

       county_tier  pov_school_age_county  median_inc_county  EOG_quintile
count  2491.000000            2491.000000        2491.000000   2492.000000
mean      2.109595              20.174147       54297.395022      2.606742
std       0.804875               6.954821       12153.050551      0.872573
min       1.000000               8.300000       35407.000000      1.000000
25%       1.000000              16.400000       46342.000000      2.000000
50%       2.000000              20.000000       51491.000000      3.000000
75%       3.000000              23.200000       60296.000000      3.000000
max       3.000000              41.800000       80428.000000      5.000000

In [11]:
main3_df.to_csv('main_data_feb1.csv')